* {
    box-sizing: border-box;
}

body {
    background: #fdfdff;
    margin: 0;
}

main {
    width: 70%; 
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#image-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#social-media ul {
    font-size: 2rem; 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem; 
}

#social-media i {
    color: #7fdbbb;
    border: 0.2rem solid #7fdbbb;
    padding: 0.3rem; 
    border-radius: 2rem; 
    list-style-type: none;
}

.header-image {
    height: 80vh; 
}

#content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem; 
}

#contentnav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem; 
    padding-top: 1rem; 
    padding-right: 1rem; 
}

#navmenu ul {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem; 
    margin: 0;
    padding: 0;
}

#navmenu li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.5rem; 
    list-style-type: none;
    display: inline-block;
}

#navmenu li a {
    color: #303c4e;
    text-decoration: none;
}

#navmenu li a:hover {
    color: #7fdbbb;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.logo {
    height: 4vh;
}

#content-text {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem; 
    text-align: end;
    padding-right: 1rem; 
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 5rem; 
    line-height: 4rem; 
    color: #303c4e;
    margin-bottom: 1rem; 
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2rem; 
    line-height: 1.5rem; 
    width: 20rem; 
}

button {
    background-color: #7fdbbb;
    padding: 0.3rem 1rem; 
    border: 0.1rem solid #7fdbbb;
    border-radius: 2rem; 
    font-family: "Poppins", sans-serif;
    font-size: 1rem; 
    font-weight: 600;
    color: #303c4e;
    transition: 0.5s ease;
}

button:hover {
    background-color: #50b893;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

#footer {
    display: flex;
    padding-right: 1rem; 
    padding-bottom: 1rem; 
}

#contacts {
    text-align: end;
    padding-right: 0.5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#phone,
#adress {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem; 
    color: #303c4e;
}
#phone span {
    font-size: 1.9rem;
    font-weight: 600;
    color: #7fdbbb;
    letter-spacing: 0.2rem;
}

.icons {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 600px) {
    * {
        font-size: 60%;
    }

    main {
        flex-direction: column-reverse;
        width: auto;
    }

    #content {
        margin-right: 0rem;
    }

    .logo {
        height: 4rem;
        margin-top: 5rem;
    }

    #contentnav {
        width: 40rem;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        padding-top: 3rem;
    }

    #navmenu ul {
        justify-content: flex-end;
        padding-left: 2rem;
    }

    #navmenu li + li {
        margin-left: 2rem;
    }

    h1 {
        font-size: 7rem;
    }

    button {
        margin-bottom: 3rem;
    }

    .header-image {
        height: auto;
        width: 33rem;
        opacity: 0.5;
    }

    #image-section {
        min-height: 0vh;
        justify-content: space-between;
        align-items: center;
        gap: 0rem;
    }
}
